@config "../tailwind.config.ts";
@import "tailwindcss";

/* :root {
  --color-brand: #2f2f2f;
  --color-background: #f5f5f3;
  --color-borderline: #ff00ff;
  --color-text-secondary: #5a5a5a;
} */

body {
  background-color: #f5f5f5;
  background-image: url("/textures/ui-noise-texture.png");
  background-repeat: repeat;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}